{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": ["prettier", "flowtype"],
  "extends": [
    "prettier",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "eslint:recommended",
    "plugin:flowtype/recommended"
  ],
  "settings": {
    "react": { "version": "detect" }
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
